body{
		margin: 2%;
		border: 1px solid black;
		background-color: #b3b3b3;
}

h1{
  text-align: center;
}

#image{
    line-height: 500px;
		width: 500px;
    height: 500px;
		border: 5px solid black;
		margin: 0 auto;
    background-color: #cccccc;
    background-image: url('');
    background-repeat: no-repeat;
    color: #000000;
    text-align: center;
    background-size: 100%;
    margin-bottom: 2%;
    font-size: 150%;
    color: #FFFFFF;
}
